/* Colores */
:root {
    --blanco: #ffffff;
    --oscuro-resaltar: #181726;
    --oscuro: #201f32;
    --azul: #3a497d;
    --azul-claro: #6979a5;
    --morado: #633f7e;
    --gris: #8f8e98;
}

/* Comportamiento scroll */
html {
    scroll-behavior: smooth;
}

/* Tipografía */
body {
    font-family: 'Nunito', sans-serif;
    background-color: var(--oscuro);
    margin: 0;
}

/* Cabecera */
.cabecera.dispositivos {
    display: none;
}

.cabecera {
    margin-top: 0;
    background-color: var(--oscuro);
    position: sticky;
    top: 0;
    z-index: 100;
}

#logo img {
    width: 190px;
    height: auto;
}

/* Menú */
.menu {
    padding: 25px 60px;
    display: flex;
    justify-content: space-between;
}

.menu .navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu .navbar .nav-item {
    float: left;
}

.menu .nav-item .nav-link {
    display: block;
    text-align: center;
    font-weight: bold;
    padding: 14px 16px;
    text-decoration: none;
    color: var(--blanco);
    font-size: 20px;
}

.menu .nav-item .nav-link .negrita {
    font-weight: bold;
    font-style: italic;
}

.menu .nav-item .nav-link .estrechita {
    font-weight: lighter;
}

.menu .nav-item .nav-link:hover {
    color: var(--azul-claro);
}

.menu .activo .nav-link {
    color: var(--gris);
}

.menu .activo .nav-link:hover {
    color: var(--azul-claro);
}

/* Estilo para el menú responsive*/
.menu .menu-responsive {
    cursor: pointer;
}

/* Botón */
.menu-responsive:before {
    content: "\2630 \a0 Menú";
    color: var(--blanco);
    padding: 5px 10px;
    border: 1px solid var(--gris);
    border-radius: 3px;
}

.menu-responsive:focus {
    pointer-events: none;
}

/* If :focus detected the dropdown menu is displayed by making it visible */
.menu-responsive:focus .menu-dropdown {
    opacity: 1;
    visibility: visible;
}

/* style for the dropdown box */
.menu-dropdown {
    background-color: var(--oscuro-resaltar);
    width: fit-content;
    margin: 3px 0 0 0;
    padding: 10px;
    border: 1px solid var(--gris);
    border-radius: 3px;
    pointer-events: auto;
    position: absolute;
    top: 70px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: visibility 1s;
}

/* style the links in the dropdown */
.menu-dropdown a {
    background: transparent;
    border: none;
    outline: 0;
    display: block;
    color: var(--blanco);
    text-decoration: none;
    width: fit-content;
    padding: 5px;
}

.menu-dropdown a:hover {
    color: var(--azul);
}

/* Estilo para móviles y tablets */
@media only screen and (max-width: 900px) {

    /* Menú */
    .cabecera.dispositivos {
        display: inherit;
    }

    .cabecera.ordenador {
        display: none;
    }

    .cabecera.dispositivos #logo {
        margin: auto;
    }

    .cabecera.dispositivos .menu-responsive {
        margin: auto;
    }
}

@media only screen and (max-width: 600px) {

    /* Menú */
    .cabecera.dispositivos .menu {
        padding: 25px 0px;
        display: inherit;
    }

    .cabecera.dispositivos #logo {
        width: fit-content;
        display: block;
        margin: auto auto 15px auto;
    }

    .cabecera.dispositivos .menu-responsive {
        width: fit-content;
        margin: auto;
    }

    .cabecera.dispositivos .menu-responsive .menu-dropdown {
        top: 120px;
    }
}

/* Menú manejo sesión */
.menu_secundario {
    background-color: var(--morado);
}

.menu_secundario ul {
    margin: 0 60px 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.menu_secundario li {
    list-style: none;
    margin: 10px 15px;
}

.menu_secundario li a,
.menu_secundario li p {
    font-size: 16px;
    color: var(--blanco);
}

.menu_secundario li p {
    margin: 0;
    padding: 0;
}

.menu_secundario li a:hover {
    color: var(--gris);
    text-decoration: none;
}

/* Estilo para móviles y tablets */
@media only screen and (max-width: 600px) {

    /* Menú manejo sesión */
    .menu_secundario ul {
        justify-content: space-evenly;
    }
}

/* Formularios manejo sesión */
/* Crear cuenta */
.crear-cuenta {
    width: 35%;
    margin: auto;
}

.crear-cuenta .campos div {
    margin-bottom: 15px;
}

/* Estilo para móviles y tablets */
@media only screen and (max-width: 600px) {

    .crear-cuenta {
        width: 55%;
    }

}

@media only screen and (max-width: 900px) {

    .crear-cuenta {
        width: 45%;
    }

}

/* Iniciar sesión */
.iniciar-sesion {
    width: 35%;
    margin: auto;
}

.iniciar-sesion .campos .pass {
    margin-top: 15px;
}

/* Estilo para móviles y tablets */
@media only screen and (max-width: 600px) {

    .iniciar-sesion {
        width: 55%;
    }

}

@media only screen and (max-width: 900px) {

    .iniciar-sesion {
        width: 45%;
    }

}

/* General */
h3 {
    font-size: 1.75rem;
    font-weight: bold;
    color: var(--gris) !important;
}

/* Formulario crear cuenta */
form.crear-cuenta {
    padding-top: 75px;
}

form.crear-cuenta .form-label {
    color: var(--gris);
}

form.crear-cuenta .form-control {
    background-color: var(--oscuro-resaltar);
    color: var(--blanco);
    border-color: var(--gris);
}

form.crear-cuenta .form-control:focus {
    border-color: var(--blanco);
    box-shadow: 0 0 0 0.25rem var(--azul);
}

form.crear-cuenta .btn {
    color: var(--blanco);
    background-color: var(--morado);
}

form.crear-cuenta .btn:hover {
    background-color: var(--azul);
}

/* Formulario iniciar sesión */
form.iniciar-sesion {
    padding-top: 75px;
}

form.iniciar-sesion .form-label {
    color: var(--gris);
}

form.iniciar-sesion .form-control {
    background-color: var(--oscuro-resaltar);
    color: var(--blanco);
    border-color: var(--gris);
}

form.iniciar-sesion .form-control:focus {
    border-color: var(--blanco);
    box-shadow: 0 0 0 0.25rem var(--azul);
}

form.iniciar-sesion .btn {
    color: var(--blanco);
    background-color: var(--morado);
}

form.iniciar-sesion .btn:hover {
    background-color: var(--azul);
}


/* Contenido */
.contenido {
    background-color: var(--oscuro);
    color: var(--blanco);
    padding-bottom: 25px;
    min-height: 100vh;
}

/* Pie de la página */
.pie {
    background-color: var(--oscuro-resaltar);
    color: var(--blanco);
    padding: 25px 60px;
}

.pie p {
    margin: 0;
}

.pie .negrita {
    font-weight: bold;
    font-style: italic;
}

.pie .estrechita {
    font-weight: lighter;
}


/* Estilos css para el index del proyecto */
/* Titulares */
.titular {
    text-align: center;
    padding: 75px 0;
}

.titular.t1 h2 {
    /* Fallback: Set a background color. */
    background-color: var(--negro);

    /* Create the gradient. */
    background-image: linear-gradient(45deg, var(--morado), var(--azul-claro));

    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;

    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.titular.t2 h2 {
    background-color: var(--negro);
    background-image: linear-gradient(45deg, var(--morado), var(--azul-claro));
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.titular .icono {
    margin: 40px 15px 0 15px;
    color: var(--morado);
}


/* Posibilidades */
.posibilidades {
    padding: 55px 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    text-align: center;
    background-color: var(--oscuro-resaltar);
}

.posibilidades .titulo {
    width: 100%;
    margin-bottom: 15px;
    color: var(--gris);
    font-size: 1.5em;
}

.posibilidades .titulo .negrita {
    font-weight: bold;
    font-style: italic;
}

.posibilidades .titulo .estrechita {
    font-weight: lighter;
}

.posibilidades .rectangulo {
    width: 25%;
    margin: 25px;
    border: 2px solid var(--gris);
    border-radius: 10px;
    padding: 60px 15px;
    /* min-height: 275px; */
}

.posibilidades .rectangulo {
    background-color: var(--oscuro);
}

.posibilidades .rectangulo h4 {
    color: var(--blanco);
    font-size: 1.5em;
}

/* Estilo para tablets */
@media only screen and (max-width: 900px) {

    /* Titulares */
    .titular {
        padding: 75px 60px;
    }

    /* Posibilidades */
    .posibilidades .rectangulo {
        width: 55%;
    }
}

/* Estilo para móviles */
@media only screen and (max-width: 600px) {

    /* Posibilidades */
    .posibilidades {
        padding: 55px 10px;
    }
}

/* Buscador */
form.buscador {
    float: right;
    margin-right: 5%;
    margin-top: 15px;
}

form.buscador .form-control {
    display: inline;
    width: fit-content;
    background-color: var(--oscuro-resaltar);
    color: var(--blanco);
    border-color: var(--gris);
}

form.buscador .form-control:focus {
    border-color: var(--blanco);
    box-shadow: 0 0 0 0.25rem var(--azul);
    box-shadow: none;
}

form.buscador .btn {
    color: var(--blanco);
    background-color: var(--morado);
}

form.buscador .btn:hover {
    background-color: var(--azul);
}

/* Estilo para tablets */
@media only screen and (max-width: 900px) {

    form.buscador {
        margin-top: 25px;

    }
}

/* Estilo para móviles */
@media only screen and (max-width: 600px) {

    form.buscador {
        width: 240px;
        margin: auto;
        float: none;
        padding-top: 25px;
    }

}

/* Listado cards */
.listado {
    padding-top: 2.5rem;
}

.listado h3 {
    font-size: 1.875rem;
    margin-left: 4rem !important;
}

.listado .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto 65px;
}

.listado .margen {
    margin: auto 65px;
}

.listado .elemento {
    margin-bottom: 30px;
    max-height: fit-content;
}

.listado .card {
    border: 1px solid var(--gris);
    margin: 15px auto;
}

.listado .card:hover {
    border: 2px solid var(--blanco);
}

.listado .card-body {
    background-color: var(--oscuro-resaltar);
}

.listado .card-body .card-title {
    color: var(--gris);
}

.listado .card a {
    background-color: var(--morado);
    color: white;
}

.listado .card a:hover {
    background-color: var(--azul);
}

.listado .pelis,
.listado .series {
    margin-bottom: 70px;
}

/* Estilo para las fichas */
.ficha {
    padding: 3rem !important;
}

.ficha .titulo {
    width: fit-content;
    margin-left: 3rem !important;
    margin-bottom: 1.5rem !important;
}

.ficha table {
    background-color: var(--oscuro);
    color: var(--gris);
    border-color: var(--gris);
}

.ficha .table-striped>tbody>tr:nth-of-type(odd)>* {
    background-color: var(--oscuro-resaltar);
    color: var(--gris);
}

.ficha .row .col {
    width: 40%;
}

.ficha table th {
    width: 175px;
    font-size: 16px;
}

.ficha table td {
    color: var(--blanco);
    font-size: 16px;
}

.ficha .table-striped>tbody>tr:nth-of-type(odd)>td {
    color: var(--blanco);
}

.ficha .botones-biblioteca {
    margin-top: 30px;
}

.ficha .botones-biblioteca a, .ficha .botones-biblioteca button {
    background-color: var(--oscuro-resaltar);
    color: var(--gris);
    margin: 15px auto;
    display: block;
    width: fit-content;
    border: none;
}

.ficha .botones-biblioteca a:hover, .ficha .botones-biblioteca button:hover {
    background-color: var(--azul);
    color: var(--blanco);
    text-decoration: none;
}

.ficha .botones-biblioteca a.marcado, .ficha .botones-biblioteca button.marcado {
    background-color: var(--morado);
    color: var(--blanco);
}

.ficha .botones-biblioteca a.marcado:hover, .ficha .botones-biblioteca button.marcado:hover {
    background-color: var(--azul);
    text-decoration: none;
}

.ficha .botones-biblioteca .icono {
    margin-left: 3px;
}

/* Estilo para tablets */
@media only screen and (max-width: 1200px) {

    .ficha .titulo {
        margin: auto 0 1.5rem 0 !important;
        text-align: center;
    }
}

/* Estilo para móviles */
@media only screen and (max-width: 600px) {

    .ficha .titulo {
        margin: auto 0 1.5rem 0 !important;
        text-align: center;
    }
}

/* Listado de capítulos */
.tab {
    overflow: hidden;
}

.capitulos {
    margin-top: 65px;
}

.capitulos .boton-temporada {
    background-color: var(--oscuro-resaltar);
    color: var(--gris);
    font-size: 16px;
    font-weight: bold;
}

.capitulos .boton-temporada:hover {
    background-color: var(--azul);
    color: var(--blanco);
}

.capitulos .boton-temporada.active {
    box-shadow: none;
    background-color: var(--morado);
    color: var(--blanco);
}

.tab button {
    cursor: pointer;
    padding: 10px 20px;
    margin: auto 5px;
}

.tabcontent {
    display: none;
    padding: 20px;
}

.capitulos .lista-capitulos li {
    list-style-type: auto !important;
    width: fit-content;
}

.capitulos .lista-capitulos li p {
    display: inline-block;
    margin-bottom: 5px;
}

.capitulos .lista-capitulos .icono {
    color: var(--azul-claro);
}

.capitulos .lista-capitulos .icono:hover {
    color: var(--azul);
}

.capitulos .lista-capitulos a.marcado .icono {
    color: var(--azul);
}

.capitulos .lista-capitulos a.marcado .icono:hover {
    color: var(--azul-claro);
}